body
{
    background-color: #5555FF;
    display: flex;
    flex-direction: column;
}

header
{
    width: 90%;
    height: 50px;
    margin: 10px;
    background-color: red;
    align-self: center;

}

main
{
    display: flex;
    flex-direction: row;
}

#contain
{
    width: 100%;
    display: block;
}

#myCake
{
    width: 60%;
    height: 400px;
    background-image: url(ressources/empty.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}




/* block object */
.object
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    background-color: red;
    padding-top: 5px;
    padding-bottom: 5px;
}

.object > .align
{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

#roll
{
    width: 50px;
    height: 50px;
    border: 10px solid green;
    background-color: white;
}

.object > div, #play
{
    margin-top: 30px;
}

.notlign, .menu
{
    width: 75%;
    height: 30px;
}

.notlign
{
    background-color: orange;
    align-items: center;
}

.menu
{
    background-color: blue;
    margin-left: 3%;
}

#play
{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
}

.tleft
{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid green;
    border-bottom: 15px solid transparent;
}

.tright
{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid green;
    border-bottom: 15px solid transparent;
    margin-left: 3%;
}
/* end block object */